.checkout {
  width: 50vw;
  padding: 1.5rem 5rem;
  margin: 0 auto;

  &__payment {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    gap: 1.5rem;

    h2 {
      font-size: 1.5rem;
      text-transform: uppercase;

      @include respond(sixthBr) {
        font-size: 1.4rem;
      }

      @include respond(seventhBr) {
        font-size: 1.3rem;
      }
    }

    &-form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  &__header {
    // display: flex;
    // justify-content: space-between;

    border-bottom: 1px solid black;
    padding-bottom: 2rem;

    display: grid;
    grid-template-columns: repeat(10, 1fr);

    &-text {
      font-size: 1.6rem;
      text-align: center;

      &-img {
        grid-column: 1 / span 2;
      }
      &-description {
        grid-column: 3 / 5;
      }
      &-quantity {
        grid-column: 5 / span 2;
      }
      &-price {
        grid-column: 7 / span 2;
      }
      &-remove {
        grid-column: 9 / span 2;
      }

      @include respond(seventhBr) {
        font-size: 1.3rem;
      }

      @include respond(sixthBr) {
        font-size: 1.5rem;
      }
    }
  }
  &__total {
    font-size: 1.8rem;
    align-self: flex-end;
  }

  &__item {
    // display: flex;
    // align-items: center;
    // gap: 2rem;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
    padding: 2rem 0rem 2rem 0rem;
    border-bottom: 1px solid black;

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 1.8rem;
      font-weight: bolder;
    }

    &-image-box {
      width: 100%;
      height: 18rem;
      overflow: hidden;
      grid-column: 1 / span 2;

      @include respond(secondBr) {
        height: 14rem;
      }
      @include respond(thirdBr) {
        height: 14rem;
      }
      @include respond(fifthBr) {
        max-height: 12rem;
      }
    }

    &-image {
      width: 100%;
    }
    &-name {
      font-weight: normal;
      font-size: 1.8rem;
      grid-column: 3 / span 2;
      text-align: center;

      @include respond(sixthBr) {
        font-size: 1.5rem;
      }

      @include respond(seventhBr) {
        font-size: 1.3rem;
      }
    }
    &-price {
      font-size: 1.8rem;
      grid-column: 7 / span 2;
      text-align: center;

      @include respond(sixthBr) {
        font-size: 1.5rem;
      }

      @include respond(seventhBr) {
        font-size: 1.3rem;
      }
    }
  }

  &__message {
    font-size: 2.4rem;
    margin-top: 3rem;
  }

  &__quantity-box {
    display: flex;
    gap: 0.5rem;
    grid-column: 5 / span 2;
    align-items: center;
    justify-content: center;

    p {
      font-size: 2rem;

      @include respond(sixthBr) {
        font-size: 1.5rem;
      }

      @include respond(seventhBr) {
        font-size: 1.3rem;
      }
    }
  }

  @include respond(secondBr) {
    width: 60vw;
  }

  @include respond(fifthBr) {
    width: 70vw;
  }

  @include respond(sixthBr) {
    width: 90vw;
  }

  @include respond(seventhBr) {
    width: 100vw;
  }
}

.checkout__remove {
  font-size: 2.4rem !important;
  grid-column: 9 / span 2;
}
