.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem 0;

  &__link:visited,
  &__link:link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 2rem;
  }

  &__logo {
    width: 6rem;
    height: 6rem;
  }
}
