.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem 2rem;

  &__link:visited,
  &__link:link,
  &__link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 2.4rem;
    cursor: pointer;
  }

  &__logo {
    width: 6rem;
    height: 6rem;
  }

  &__list {
    display: flex;
    gap: 1.5rem;
  }

  &__user:link,
  &__user:visited,
  &__user {
    text-align: center;
    width: 100%;
    font-size: 1.4rem;
    padding: 1rem;
    background-color: black;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid transparent;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      background-color: transparent;
      color: black;
      border: 2px solid black;
    }
  }
}

.user {
  position: relative;
  width: 100%;
}
.user-box {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: -1.4rem;
  display: flex;
  width: 140%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.user:hover .user-box {
  opacity: 1;
  visibility: visible;
}
