.profile {
  padding: 1.5rem 5rem;

  &__title {
    font-size: 2.6rem;
    margin-bottom: 3rem;
  }

  &__data {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    &-text {
      display: flex;
      gap: 1rem;
      align-items: center;

      span {
        &:first-child {
          font-size: 1.8rem;
        }

        &:nth-child(2) {
          font-size: 1.8rem;
          font-weight: bolder;
        }
      }
    }
  }

  &__data--image {
    display: block;
    height: 10rem;

    span {
      &:first-child {
        font-size: 1.8rem;
      }
    }
  }

  &__image {
    height: 100%;
  }

  &__btn {
    background: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin-left: 2rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: "Open Sans", sans-serif;
    padding: 0.5rem;
    border: 1px solid black;
    transition: all 0.3s;

    &:hover,
    &:focus {
      background: black;
      color: #fff;
    }
  }
}

// Changing boxes
.profile__data--name {
  display: block;
}

.profile__data--name-visible,
.profile__data--image-visible {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.profile__data--image-visible {
  height: 10rem;
}

.profile__name-change-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35rem;
  height: 10rem;
  border: 2px solid black;
  border-top: none;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  margin-top: 1rem;
  transition: height 0.7s;
}

.profile__image-change-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35rem;
  height: 10rem;
  border: 2px solid black;
  border-top: none;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  margin-top: 1rem;
  transition: height 0.7s;
}

.box-collapse {
  height: 0;
  width: 0;
  // visibility: hidden;
  pointer-events: none;
  opacity: 0;
  margin: 0;
  transition: height 0.5s, opacity 0.4;
}

#name-change,
#image-change {
  position: relative;
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  outline: none;
  border: 1px solid black;
}

#name-change:focus + .name-change__label {
  transform: translate(-1rem, -2.5rem);
}
#image-change:focus + .image-change__label {
  transform: translate(-1rem, -2.5rem);
}

#name-change:not(:placeholder-shown) + .name-change__label {
  transform: translate(-1.2rem, -2.7rem);
}
#image-change:not(:placeholder-shown) + .image-change__label {
  transform: translate(-1.2rem, -2.7rem);
}

.name-change__label,
.image-change__label {
  position: absolute;
  z-index: 10;
  left: 17%;
  font-size: 1.2rem;
  transition: all 0.4s;
}
